@namespace Enter.UI.Components
@inherits EntBaseComponent

<div @attributes="@AdditionalAttributes" class="@RootClass" >
    @if (Title != null)
    {
        <div @onclick="()=>{
            CardExpand = !CardExpand;
        }" class="ent-card-header">
            @if(Icon != null)
            {
                <span class="ent-card-header-icon">
                    <EntIcon Icon="@Icon"/>
                </span>
            }

            <span class="ent-card-header-title">
                @Title
            </span>
            @if (Expandable)
            {


                <span class="ent-card-header-toggle-icon @(CardExpand ? "show" : "")">
                    <EntIcon Icon="@EntIcons.ChevronDown" />
                </span>
            }
            
        </div>
    }
    @if (Expandable)
    {
        <EntExpandable Tag="@Tag" Show="CardExpand">
            <div class="ent-card-content">
                @CardBody
            </div>
        </EntExpandable>
    }
    else
    {
        <div class="ent-card-content">
            @CardBody
        </div>
    }
    
    @if (CardFooter != null)
    {
        <div class="ent-card-footer">
            @CardFooter
        </div>
    }

</div>

@code {

    private string RootClass => CssClassBuilder
        .AddClass("ent-card")
        .Build();
    
    [Parameter]
    public bool CardExpand{ get; set; } = true;

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public bool Expandable { get; set; } = false;

    [Parameter]
    public RenderFragment? CardBody { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment? CardFooter { get; set; }

}