@namespace Enter.Ui.Components
@inherits Enter.Ui.Bases.EntInputBase<string?>
@using Enter.Ui.Components.Icon
@using System.Diagnostics.CodeAnalysis
@implements IAsyncDisposable

<div @attributes="@AdditionalAttributes" class="@ClassNames" id="@Id">
    <input name="@ValueExpression?.GetPropertyName()" type="file" class="ent-input-field" placeholder="@PlaceHolder"
           @bind="@CurrentValueAsString"
           @bind:event="oninput" disabled="@Disabled" readonly="@Readonly"/>

    @if (Icon != null)
    {
        <div class="ent-input-icon">
            <EntIcon IconSize="EntIconSize.Medium" Icon="@Icon" class="icon"/>
        </div>
    }
</div>

@code {

    protected override void BuildClasses(ClassBuilder builder)
    {
        builder.AddClass("ent-input");
        base.BuildClasses(builder);
    }

    [Parameter]
    public object Icon { get; set; }

    [Parameter]
    public bool IsPassword { get; set; }

    [CascadingParameter]
    public EditContext? EditContext { get; set; }


    protected override bool TryParseValueFromString(string? value, out string? result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        result = value;
        validationErrorMessage = null;
        return true;
    }

}