@namespace Enter.UI.Components
@using System.Linq.Expressions

@typeparam TValue;
@inherits Enter.UI.Cores.Bases.EntComponentBase

<div @attributes="@AdditionalAttributes" class="@RootCss" id="@Id">
    @if(Label != null)
    {
        <label class="ent-input-group-label">@Label</label>

    }
    <div class="ent-input-group-content">
        @ChildContent
    </div>
    <ValidationMessage class="ent-input-group-validation" For="@For" />
</div>

@code {

    private string RootCss => CssBuilder
        .AddCss("ent-input-group")
        .Build();

    
    [Parameter] public Expression<Func<TValue>>? For { get; set; }
    [Parameter]
    public string? Label { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    public override void Dispose()
    {
    }

}