@namespace Enter.Ui.Components

@typeparam TValue;
@using System.Linq.Expressions
@using Enter.Ui.Cores.Core
@inherits Enter.Ui.Bases.EntBaseComponent

<div @attributes="@AdditionalAttributes" class="@ClassNames" id="@Id">
    @if (Label != null)
    {
        <label class="ent-input-group-label">@Label</label>
    }
    <div class="ent-input-group-content">
        @ChildContent
    </div>
    @if (For != null)
    {
        <ValidationMessage class="ent-input-group-validation" For="@For"/>
    }
</div>

@code {


    protected override void BuildClasses(ClassBuilder builder)
    {
        builder.AddClass("ent-input-group");
        base.BuildClasses(builder);
    }

    [Parameter]
    public Expression<Func<TValue>>? For { get; set; }

    [Parameter]
    public string? Label { get; set; }


    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
    }

}