@inherits EntTabBase
@namespace Enter.UI.Components
<CascadingValue Value="@this">
    <div @attributes="@AdditionalAttributes" class="@RootCss" >
        @if (_tabPanels.Count > 0)
        {
            <ul class="ent-tab-item-container">
                @foreach (var tabPanels in _tabPanels)
                {
                     
                    
                    

                    <li class="@GetItemClass(IsActive(tabPanels.Id))" @onclick="() => ActivateTab(tabPanels.Id)" @key="@tabPanels.Id">
                        <div class="ent-tab-content">
                            <EntIcon Icon="@tabPanels.Icon"/>
                            <span>@tabPanels.Title</span>
                        </div>
                        @if (Closeable)
                        {
                            <div @onclick="() => OnTabClose(tabPanels.Id)" class="ent-tab-close">
                                <EntIcon Icon="fa-light fa-close" Type="EntIconType.IconTag"/>
                            </div>
                        }
                    </li>
                }
                @if (Closeable)
                {
                    <li class="@GetItemClass(false)">
                        <div @onclick="OnTabAllClose" class="ent-tab-action ">
                            <EntIcon Icon="fa-light fa-trash" Type="EntIconType.IconTag"/>
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="ent-tab-item-container-message">
                <p>@TabNoContentMessage</p>
            </div>
        }

        <div class="@PanelCss">
            @ChildContent
            @if (!_tabPanels.Any())
            {
                @DefaultPanel
            }
        </div>
    </div>
</CascadingValue>