@namespace Enter.UI.Components
@inherits Enter.UI.Core.Bases.EntBaseComponent
<div @attributes="Attributes" class="@RootCss"  @onclick="()=>Click.InvokeAsync()">
    @if (IconData != null)
    {
        <EntIcon class="@IconCss" Type="@IconType" Data="@IconData" />
    }
    <span class="@ContentCss">@Text</span>
</div>
