@inherits EntBaseComponent
<div @attributes="UserAttributes" class="@cssClass" style="@Style" @onclick="()=>Click.InvokeAsync()">
    @if (Icon != null)
    {
        <EntIcon Type="@Icon.Type" Data="@Icon.Data" />
    }
    <span>@Text</span>
</div>
