@namespace Enter.UI.Components
@using Enter.UI.Core
@inherits Enter.UI.Core.Bases.EntBaseComponent
<div @attributes="AdditionalAttributes" class="@RootCss" @onclick="() => Click.InvokeAsync()">
    <EntIcon  class="@IconCss" Icon="@Icon" />
    <span class="@ContentCss">@Text</span>
</div>