@using Enter.UI.Abstractions.Components.Icon
@using Enter.UI.Abstractions.Components.Button
@inherits EntTabBase
@namespace Enter.UI.Components
<CascadingValue Value="@(this)">
    <div @attributes="@AdditionalAttributes" class="@RootCss">
        @if (Panels.Count > 0)
        {
            var css = (Direction == EntTabDirection.Vertical)?"horizontal-scroll":"";
            <ul class="ent-tab-item-container @css">

                @foreach (var tabPanels in Panels)
                {
                    <li class="@GetItemClass(IsActiveTab(tabPanels.Id))" @onclick="() => ActivateTabAsync(tabPanels.Id)" @key="@tabPanels.Id">
                        <span class="ent-tab-content">
                            <EntIcon Icon="@tabPanels.Icon"/>
                            @if (!IconMinify)
                            {
                                <span>@tabPanels.Title</span>
                            }
                            @if (Closeable)
                            {
                                <EntButton @onclick="() => OnTabClose(tabPanels.Id)" Icon="EntIconName.Remove" Size="ButtonSize.Small" class="ent-tab-close">

                                </EntButton>
                            }
                        </span>
                    </li>
                }
                @if (Closeable)
                {
                    <li class="@GetItemClass(false)">
                        <span @onclick="OnTabAllClose" class="ent-tab-action ">
                            <EntIcon Icon="EntIconName.Delete" Type="EntIconType.IconTag"/>
                        </span>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="ent-tab-item-container-message">
                <p>@TabNoContentMessage</p>
            </div>
        }

        <div class="@PanelCss">
            @ChildContent
            @if (!Panels.Any())
            {
                @DefaultPanel
            }
        </div>
    </div>
</CascadingValue>