@namespace Enter.UI.Components
@inherits Enter.UI.Cores.Bases.EntComponentBase
<div @attributes="AdditionalAttributes" class="@RootCss" @onclick="() => Click.InvokeAsync()">
    <EntIcon class="@IconCss" Icon="@Icon"/>
    <span class="@ContentCss">@Text</span>
</div>