@namespace Enter.Ui.Components
@using Enter.Ui.Components.Icon
@inherits Enter.Ui.Bases.EntBaseComponent
<div @attributes="AdditionalAttributes" class="@ClassNames">
    <div class="ent-nav-menu-group-item" @onclick="@ToggleItem">
        @if (Icon != null)
        {
            <EntIcon class="ent-nav-menu-group-item-icon" Icon="@Icon"/>
        }
        <span class="ent-nav-menu-group-item-title">@Title</span>
        <EntIcon class="ent-nav-menu-group-item-arrow-icon" Icon="@EntIconName.ChevronDown"/>
    </div>

    <EntExpandable @bind-Expanded="IsShow" class="@ContainerCss">@ChildContent</EntExpandable>

</div>