@namespace Enter.Ui.Components
@inherits Enter.Ui.Bases.EntBaseComponent
<div @attributes="AdditionalAttributes" class="@ClassNames" @onclick="() => Click.InvokeAsync()">
    <EntIcon class="@IconClassNames" Icon="@Icon"/>
    <span class="@ContentClassNames">@Text</span>
</div>