@page "/documents/buttons"
@using Enter.UI.Components.Icon
@using Enter.UI.Components.Button
@using Enter.UI.Components.Flex
@layout DocumentLayout
<div class="p-4">
    <EntCard Title="Default Buttons" class="mb-4">
        <CardBody>
            <p class="mb-4">
                Use the <code>@($"<{nameof(EntButton)}></{nameof(EntButton)}>")</code> Component to add the default button.
            </p>
            <EntFlex Gap="2">
                <EntButton>Primary</EntButton>
                <EntButton Disabled>Primary</EntButton>
            </EntFlex>
        </CardBody>

    </EntCard>

    <EntCard Title="Icon Buttons" class="mb-4">
        <CardBody>
            <p class="mb-4">
                Use <code>@(nameof(EntButton.Icon))="@(nameof(EntIconName)).@(nameof(EntIconName.User))"</code> Parameter to change Appearance Mode to button.
            </p>
            <EntFlex Gap="2" class="mb-4">
                <EntButton Appearance="ButtonAppearance.Default" Icon="EntIconName.User">Default</EntButton>
                <EntButton Appearance="ButtonAppearance.Outline" Icon="EntIconName.User">Outline</EntButton>
                <EntButton Appearance="ButtonAppearance.Ghost" Icon="EntIconName.User">Transparent</EntButton>
            </EntFlex>
            <EntFlex Gap="2" class="mb-4">
                <EntButton Appearance="ButtonAppearance.Default" Color="ButtonColor.Primary" Icon="EntIconName.User">Default</EntButton>
                <EntButton Appearance="ButtonAppearance.Outline" Color="ButtonColor.Primary" Icon="EntIconName.User">Outline</EntButton>
                <EntButton Appearance="ButtonAppearance.Ghost" Color="ButtonColor.Primary" Icon="EntIconName.User">Ghost</EntButton>
            </EntFlex>
            <EntFlex Gap="2" class="mb-4">
                <EntButton Appearance="ButtonAppearance.Default" Icon="EntIconName.User"></EntButton>
                <EntButton Appearance="ButtonAppearance.Outline" Icon="EntIconName.User"></EntButton>
                <EntButton Appearance="ButtonAppearance.Ghost" Icon="EntIconName.User"></EntButton>
            </EntFlex>
            <EntFlex Gap="2">
                <EntButton Appearance="ButtonAppearance.Default" Color="ButtonColor.Primary" Icon="EntIconName.User"></EntButton>
                <EntButton Appearance="ButtonAppearance.Outline" Color="ButtonColor.Primary" Icon="EntIconName.User"></EntButton>
                <EntButton Appearance="ButtonAppearance.Ghost" Color="ButtonColor.Primary" Icon="EntIconName.User"></EntButton>
            </EntFlex>
        </CardBody>
    </EntCard>
    <EntCard Title="Appearance Buttons" class="mb-4">
        <CardBody>
            <p class="mb-4">
                Use <code>@(nameof(EntButton.Appearance))="@(nameof(ButtonAppearance)).@(nameof(ButtonAppearance.Outline))"</code> Parameter to change Appearance Mode to button.
            </p>
            <EntFlex Gap="2" class="mb-4">
                <EntButton Appearance="ButtonAppearance.Default">Default</EntButton>
                <EntButton Appearance="ButtonAppearance.Outline">Outline</EntButton>
                <EntButton Appearance="ButtonAppearance.Ghost">Transparent</EntButton>
            </EntFlex>
            <EntFlex Gap="2">
                <EntButton Appearance="ButtonAppearance.Default" Color="ButtonColor.Primary">Default</EntButton>
                <EntButton Appearance="ButtonAppearance.Outline" Color="ButtonColor.Primary">Outline</EntButton>
                <EntButton Appearance="ButtonAppearance.Ghost" Color="ButtonColor.Primary">Transparent</EntButton>
            </EntFlex>
        </CardBody>
    </EntCard>
    <EntCard Title="Size Buttons" class="mb-4">
        <CardBody>
            <p class="mb-4">
                Use <code>@(nameof(EntButton.Size))="@(nameof(ButtonSize)).@(nameof(ButtonSize.Small))"</code> Parameter to change Appearance Mode to button.
            </p>
            <EntFlex Gap="2" Align="FlexAlign.StartCenter" class="mb-4">
                <EntButton Size="ButtonSize.Small">Small</EntButton>
                <EntButton Size="ButtonSize.Medium">Medium</EntButton>
                <EntButton Size="ButtonSize.Large">Large</EntButton>
            </EntFlex>

            <EntFlex Gap="2" Align="FlexAlign.StartCenter" class="mb-8">
                <EntButton Size="ButtonSize.Small" Color="ButtonColor.Primary">Small</EntButton>
                <EntButton Size="ButtonSize.Medium" Color="ButtonColor.Primary">Medium</EntButton>
                <EntButton Size="ButtonSize.Large" Color="ButtonColor.Primary">Large</EntButton>
            </EntFlex>

            <EntFlex Gap="2" Align="FlexAlign.StartCenter" class="mb-4">
                <EntButton Size="ButtonSize.Small" Icon="EntIconName.User">Small</EntButton>
                <EntButton Size="ButtonSize.Medium" Icon="EntIconName.User">Medium</EntButton>
                <EntButton Size="ButtonSize.Large" Icon="EntIconName.User">Large</EntButton>
            </EntFlex>

            <EntFlex Gap="2" Align="FlexAlign.StartCenter" class="mb-8">
                <EntButton Size="ButtonSize.Small" Icon="EntIconName.User" Color="ButtonColor.Primary">Small</EntButton>
                <EntButton Size="ButtonSize.Medium" Icon="EntIconName.User" Color="ButtonColor.Primary">Medium</EntButton>
                <EntButton Size="ButtonSize.Large" Icon="EntIconName.User" Color="ButtonColor.Primary">Large</EntButton>
            </EntFlex>

            <EntFlex Gap="2" Align="FlexAlign.StartCenter" class="mb-4">
                <EntButton Size="ButtonSize.Small" Icon="EntIconName.User"></EntButton>
                <EntButton Size="ButtonSize.Medium" Icon="EntIconName.User"></EntButton>
                <EntButton Size="ButtonSize.Large" Icon="EntIconName.User"></EntButton>

            </EntFlex>
            <EntFlex Gap="2" Align="FlexAlign.StartCenter" class="mb-4">
                <EntButton Size="ButtonSize.Small" Icon="EntIconName.User" Color="ButtonColor.Primary"></EntButton>
                <EntButton Size="ButtonSize.Medium" Icon="EntIconName.User" Color="ButtonColor.Primary"></EntButton>
                <EntButton Size="ButtonSize.Large" Icon="EntIconName.User" Color="ButtonColor.Primary"></EntButton>
            </EntFlex>
        </CardBody>
    </EntCard>
</div>