@namespace Enter.UI.Components
@inherits Enter.UI.Cores.Bases.EntComponentBase
@using Enter.UI.Services
<div class="@RootClass">
    @foreach (var item in _entPopoverService.PopoverInstances)
    {
        <div @key="@item.Key" @onclick="() => { }" class="@item.Value.PopoverClass" id="@($"ent-popover-content-{item.Key}")">
            @if (item.Value.ShowContent)
            {
                @item.Value.ContentFragment
            }
        </div>
    }
</div>

@code {

    private string RootClass => CssBuilder
        .AddCss("ent-popover-provider")
        .Build();

    [Inject]
    public IEntPopoverService EntPopoverService { get; set; }
    

    private EntPopoverService _entPopoverService = default!;
    

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _entPopoverService = (EntPopoverService)EntPopoverService;

        _entPopoverService.FragmentsChanged += EntPopoverServiceOnFragmentsChanged;
    }

    private void EntPopoverServiceOnFragmentsChanged(object? sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    private Task OnPopoverContainerClick(MouseEventArgs arg)
    {
        return Task.CompletedTask;
    // await EntPopoverService.CloseAllAsync();
    }



    public override void Dispose()
    {
        _entPopoverService.FragmentsChanged -= EntPopoverServiceOnFragmentsChanged;
    }

}