@namespace Enter.UI.Components
@inherits EntBaseComponent
<div  @attributes="@Attributes" class="@RootClass" style="@Style"  @onclick="@Click">@ChildContent</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }


    [Parameter]
    public EventCallback Click { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var attr = Attributes;
        }
        base.OnAfterRender(firstRender);
    }

    private string RootClass => CssClassBuilder
    .AddClass("h-8 display-flex item-center justify-center px-4 bg-light border-0 rounded-1")
        .Build();
    
   
}