@namespace Enter.UI.Components
@inherits EntBaseComponent
@using Enter.UI.Abstractions.Components.Animator
@using Enter.UI.Abstractions.Components.Text
@using Enter.UI.Abstractions.Components.Toast
@using Enter.UI.Abstractions.Core
@using Enter.UI.Abstractions.Services
@implements IAsyncDisposable
<div class="@RootClass">
    <EntSpace SpaceY="2">
        
        
        @foreach (var item in ToastInstances)
        {
            var itemCss = new CssClassBuilder("ent-toast")
                .AddClass("ent-toast--open", item.AnimatorState == EntAnimatorState.Starting)
                .AddClass("ent-toast--close", item.AnimatorState == EntAnimatorState.Ending)
                .AddClass("bg-success cl-light", item.Options.Type == EntToastType.Success)
                .AddClass("bg-danger cl-light", item.Options.Type == EntToastType.Danger)
                .AddClass("bg-owarning cl-light", item.Options.Type == EntToastType.Warning)
                .AddClass("bg-info cl-light", item.Options.Type == EntToastType.Info).Build();

            <EntAnimator
                @key="item.Id"
                OnAnimationEnd="() => OnToastAnimationEnd(item)"
                class="@itemCss"
                @bind-State="@item.AnimatorState">

                <div class=" items-center">

                    <div class="flex-grow-1 d-flex flex-column justify-center">
                        <div class="d-flex flex-row gap-4 mb-4">
                            @if (!string.IsNullOrWhiteSpace(item.Options.Icon))
                            {
                                <EntIcon Icon="@item.Options.Icon"/>
                            }
                            <EntText class="flex-grow-1 p-0 m-0" Type="EntTextType.Bold" Size="EntTextSize.Caption">@item.Title</EntText>
                            <EntIcon Icon="fa-light fa-close" Click="() => CloseItem(item)"/>
                        </div>
                        <EntText class="p-0 m-0" Type="EntTextType.Paragraph" Size="EntTextSize.Description">@item.Content</EntText>
                    </div>
                </div>
            </EntAnimator>
        }
    </EntSpace>
</div>

@code {

    private string RootClass => CssClassBuilder
        .AddClass("ent-toast-provider")
        .Build();

   
    
    public readonly List<EntToastInstance> ToastInstances = new List<EntToastInstance>();
    
    [Inject]
    public IEntToastService EntToastService { get; set; }

    private EntToastService _entToastService = default!;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _entToastService = (EntToastService)EntToastService;

        _entToastService.InstanceCreated += EntToastServiceOnInstanceCreated;
        _entToastService.InstanceClose += EntToastServiceOnInstanceClose;;
    }

    private void EntToastServiceOnInstanceClose(object? sender, Guid e)
    {
        var instance = ToastInstances.FirstOrDefault(x => x.Id == e);
        if (instance == null) return;
        
        CloseItem(instance);
        StateHasChanged();
    }

    private void EntToastServiceOnInstanceCreated(object? sender, EntToastInstance instance)
    {
        ToastInstances.Add(instance);
        StateHasChanged();
    }


    private void CloseItem(EntToastInstance instance)
    {
        instance.AnimatorState = EntAnimatorState.Ending;
    }

    private async Task OnToastAnimationEnd(EntToastInstance instance)
    {
        if (instance.AnimatorState==EntAnimatorState.Ending)
        {
            ToastInstances.Remove(instance);
            await EntToastService.CloseAsync(instance.Id);
        }
    }

    public async ValueTask DisposeAsync()
    {
        _entToastService.InstanceCreated -= EntToastServiceOnInstanceCreated;
        _entToastService.InstanceClose -= EntToastServiceOnInstanceClose;;
    }

}